<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Articles</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <style>
      input, textarea {
        font-size: 1rem;
        display: block;
        margin: 1rem;
        width: 70%;
      }
      button {
        color: #fff;
        font-size: 1rem;
        padding: 0.5rem;
        background: #007eb6;
      }
      li a {
        color: #007eb6;
      }
    </style>
</head>
<body>
  <header>
    <h1>Now on the app store!</h1>
  </header>

<div class="entry">
  <img src="/storyimages/{{entry.multimedia}}.jpg" />
  <h3>{{entry.title}}</h3>
  <p>{{entry.abstract}}</p>
</div>

</body>
</html>